.header {
    text-align: center;
    width: 30%;
    margin: 0 auto 20px auto;
    border: 2px solid black;
}

.pokemon {

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    &__list{
        float: left;
        width: 70%;
        padding-top: 1.3rem;
    }
    
    &__details {
        float: left;
        width: 30%;
        padding-top: 1.3rem;    
        padding-right: 1.3rem;
    }
}

@media only screen and (max-width: 670px) {
    .pokemon {

        &__list{
            width:60%;
        }
        
        &__details {
            width: 40%;
        }
    }
}


